.atte__content {
    margin: 0 auto;
    padding: 30px 30px 60px;
    background-color: #fafafa;
    text-align: center;
}

.atte-form {
    margin: 17px;
}

.form {
    text-align: center;
    padding: 30px 0;
}

.form input {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin-left: 40px;
    border: none;
    background-color: #fafafa;
}

.form button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid dodgerblue;
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form button:hover {
    background-color: dodgerblue;
    color: white;
}

.atte-table__inner {
    width: 100%;
}

.atte-table {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.atte-table__row__ttl {
    font-weight: bold;
}

.atte-table__row__ttl, .atte-table__row {
    border-top: 1px solid gray;
}

.atte-table__row__ttl td, .atte-table__row td {
    padding: 30px 0;
    width: 20%;
}

.paginate {
    text-align: center;
    margin-top: 20px;
}

.paginate ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.paginate li {
    display: inline-block;
    margin: 0 5px;
}

.paginate a,
.paginate span {
    padding: 8px 12px;
    color: dodgerblue;
    text-decoration: none;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.paginate a:hover,
.paginate span:hover {
    background-color: dodgerblue;
    color: #fff;
}

.paginate .active a,
.paginate .active span {
    background-color: dodgerblue;
    color: #fff;
}
