.atte__content {
    margin: 0 auto;
    padding: 30px 30px 60px;
    background-color: #fafafa;
    text-align: center;
}

.atte-table__inner {
    width: 100%;
}

.atte-table {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.atte-table__row__ttl {
    font-weight: bold;
}

.atte-table__row__ttl, .atte-table__row {
    border-top: 1px solid gray;
}

.atte-table__row__ttl td, .atte-table__row td {
    padding: 30px 0;
    width: 20%;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.paginate {
    padding: 5px 10px;
}

.paginate ul {
    margin: 0 auto;
}

.paginate li {
    display: inline;
    color: dodgerblue;
    padding: 10px;
    background-color: #fff;
}

.paginate a {
    color: dodgerblue;
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
}

