.atte__content {
    margin: 0 auto;
    padding: 30px;
    background-color: #fafafa;
}

.atte__inner {
    width: 100%;
    padding: 0 15px 50px;
}

.atte__hello {
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
    font-size: 24px;
}

.atte__button {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.atte__button-row form{
    display: inline-block;
}

.atte__button-row button{
    background-color: #fff;
    border: none;
    margin: 20px;
    padding: 100px 200px;
    font-size: 18px;
    font-weight: bold;
}

.alert {
    margin: 0 auto;
    width: 50%;
    height: 25px;
    font-size: 20px;
    text-align: center;
    color: red;
}