.list__content {
    margin: 0 auto;
    padding: 30px 30px 60px;
    background-color: #fafafa;
    text-align: center;
}

.list__ttl {
    padding: 30px 0;
    font-size: 24px;
    font-weight: bold;
}

.list-table__inner {
    width: 100%;
}

.list-table {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.list-table__row__ttl {
    font-weight: bold;
}

.list-table__row__ttl,
.list-table__row {
    border-top: 1px solid gray;
}

.list-table__row__ttl td,
.list-table__row td {
    padding: 30px 0;
    width: 20%;
}

.list-table__row td a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: inline-block;
}

.list-table__row td a:hover {
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
}

.paginate {
    text-align: center;
    margin-top: 20px;
}

.paginate ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.paginate li {
    display: inline-block;
    margin: 0 5px;
}

.paginate a,
.paginate span {
    padding: 8px 12px;
    color: dodgerblue;
    text-decoration: none;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.paginate a:hover,
.paginate span:hover {
    background-color: dodgerblue;
    color: #fff;
}

.paginate .active a,
.paginate .active span {
    background-color: dodgerblue;
    color: #fff;
}